<!-- This is a basic html page which Flask can serve. 
It does not use the power of Flask, but is easier to read than some of the other files. 
-->

<!DOCTYPE html>
<html>

<!-- learn more about what belongs in head and how it is used here 
https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML -->
<head>
	<title>A Static Page</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/styles.css">
</head> 

  <div class="topnav">
    <a class="Home" href="/home.html">Home</a>
    <a href="/students.html">Students</a>
    <a href="/about.html">About</a>
  </div>

  <div class="hero-image2">
    <div class="hero-text">
      <h1>About CODE University?</h1>
      <p>Learn how to use digital technologies to make the world a better place.</p>
      <p>
        CODE is a Berlin-based state-accredited university of applied sciences that offers Bachelor’s degree programs in the field of Digital Product Development.
      </p>
      <a href="students.html"><button class="btn learnmore">Meet our students</button></a>
    </div>
  </div>  
</html>